*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'DM Sans', sans-serif;
}
/* header css start */
.header-container{
    width: 100%;
    min-height: 800px;
    background-image: url(../media/images/img-1.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.header-container::after{
    content: '';
    background-color: rgb(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
.header-body{
    max-width: 80%;
    height: 800px;
    margin: 0 auto;  
    position: relative;
    z-index: 1;
}
.header-top{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
.header-logo a{
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    padding: 4px 20px;
    border: 3px solid #adb5bd;
    border-style: double;
}
.header-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}
.header-menu > li{
    margin-right: 20px;
}
.header-menu > li:last-child{
    margin-right: 0;
}
.header-menu > li > a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    position: relative;
    display: inline-block;
    padding: 2px 0 25px 0;
}
.header-menu > li > a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #f13f13;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s linear;
}
.header-menu > li > a:hover::after{
    transform-origin: bottom left;
    transform: scaleX(1);
}
.header-menu > li:hover > a{
    color: #f13f13;
}
.header-content{
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-content h1{
    color: #ffffff;
    font-size: 50px;
    font-weight: 700;
    line-height: 55px;
}
.header-content p{
    color: #ffffff;
}
.a-btn {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    display: inline-block;
    background-color: #dc2f02;
    border: 2px solid #9d0208;
    border-style: ridge;
    padding: 10px 20px;
    margin-top: 25px;
    transition: 0.2s;
}
.a-btn:hover{
    background-color: #9c2001;
}
.header-menu li{
    position: relative;
}
.fa-angle-down{
    font-size: 14px;
}
.header-sub-menu{
    list-style-type: none;
    background-color: #3b3d3f;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.9);
    position: absolute;
    top: 100%;
    left: 0;
    width: 220px;
    padding: 1px 20px 8px 20px;
    border-top: 6px solid #dc2f02;
    display: none;
}
.header-sub-menu li a{
    text-decoration: none;
    color: #dee2e6;
    display: inline-block;
    padding: 10px 0;
    border-top: 1px solid #adb5bd;
    width: 100%;
    font-size: 15px;
    font-weight: 400;
}
.header-sub-menu li:first-child a{
    border-top: none;
}
.header-sub-menu li a:hover{
    color: #f13f13;
}
.header-menu li:hover .header-sub-menu{
    display: block;
}
.header-sub-menu1{
    list-style-type: none;
    background-color: #3b3d3f;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.9);
    position: absolute;
    top: 100%;
    right: -0;
    width: 220px;
    padding: 1px 20px 8px 20px;
    border-top: 6px solid #dc2f02;
    display: none;
}
.header-sub-menu1 li a{
    text-decoration: none;
    color: #dee2e6;
    display: inline-block;
    padding: 10px 0;
    border-top: 1px solid #adb5bd;
    width: 100%;
    font-size: 15px;
    font-weight: 400;
}
.header-sub-menu1 li:first-child a{
    border-top: none;
}
.header-sub-menu1 li a:hover{
    color: #f13f13;
}
.header-menu li:hover .header-sub-menu1{
    display: block;
}
/* header css end */

/* ritch section start */
.ritch-section{
    width: 100%;
    background-color: #ffffff;
}
.ritch-container{
    max-width: 80%;
    min-height: 650px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.ritch-img{
    width: 35%;
    max-height: 650px;
    padding: 55px 0;
}
.ritch-img img{
    width: 78%;
    height: 100%;
}
.ritch-content{
    width: 82%;
    max-height: 650px;
    padding: 55px 0;
}
.ritch-content h2{
    font-size: 35px;
    font-weight: 700;
    color: #dc2f02;
}
.p-pro{
    color: #343a40;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
}
.p-fea{
    color: #343a40; 
    margin: 12px 0;
    font-weight: 400;
    font-size: 15px;
}
.web-design{
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.web-design ul{
    list-style-type: none;
}
.web-design ul li{
    padding: 5px 0;
    color: #343a40; 
    font-weight: 400;
    font-size: 15px;
}
.fa-angles-right{
    color: #dc2f02;
    font-size: 14px;
}
/* ritch section end */

/* service section start */
.service-section{
    width: 100%;
    background-color: #dee2e6;
}
.service-container{
    max-width: 80%;
    min-height: 800px;
    margin: 0 auto;
}
.service-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.service-content h2{
    padding: 50px 0 16px 0;
    font-size: 35px;
    font-weight: 700;
    color: #000000;
    display: inline-block;
}
.li-cir{
    position: relative;
}
.li-cir::before{
    content: '';
    width: 50%;
    height: 1px;
    background-color: #dc2f02;
    position: absolute;
    left: 40px;
    bottom: 10px;
}
.cir-li{
    position: relative;
}
.cir-li::after{
    content: '';
    width: 10px;
    height: 10px;
    background-color: #dc2f02;
    position: absolute;
    left: 75px;
    bottom: 6px;
    border-radius: 50%;
}
.p-all{
    color: #343a40; 
    font-weight: 400;
    font-size: 15px;
}
.service-type{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 45px 0 40px 0;
}
.service-1{
    width: 32%;
    height: 300px;
    background-color: #ffffff;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 15px 0;
    position: relative;
}
.service-1 h2{
    font-size: 28px;
    margin: 10px 0;
}
.fa-code{
    background-color: #dc2f02;
    color: #ffffff;
    padding: 10px 10px;
    border-radius: 2px;
    transition: 0.4s;
    cursor: pointer;
    border: 2px solid #9d0208;
    border-style: ridge;
}
.fa-code:hover{
    border-radius: 40%;
}
.num-1{
    position: absolute;
    width: 40px;
    height: 40px;
    font-size: 40px;
    font-weight: 700;
    color: #dee2e6;
    left: 0;
    top: 0;
}
.num-2{
    position: absolute;
    width: 40px;
    height: 40px;
    font-size: 40px;
    font-weight: 700;
    color: #dee2e6;
    left: 0;
    top: 0;
}
.num-3{
    position: absolute;
    width: 40px;
    height: 40px;
    font-size: 40px;
    font-weight: 700;
    color: #dee2e6;
    left: 0;
    top: 0;
}
.num-4{
    position: absolute;
    width: 40px;
    height: 40px;
    font-size: 40px;
    font-weight: 700;
    color: #dee2e6;
    left: 0;
    top: 0;
}
.num-5{
    position: absolute;
    width: 40px;
    height: 40px;
    font-size: 40px;
    font-weight: 700;
    color: #dee2e6;
    left: 0;
    top: 0;
}
.num-6{
    position: absolute;
    width: 40px;
    height: 40px;
    font-size: 40px;
    font-weight: 700;
    color: #dee2e6;
    left: 0;
    top: 0;
}
/* service section end */

/* project section start */
.project-section{
    width: 100%;
    background-color: #ffffff;
}
.project-type{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 60px 0 55px 0;
}
.project-team-work{
    width: 32%;
    max-height: 325px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.project-image img{
    width: 100%;
    height: 100%;
    display: block;
} 
.fa-plus{
    position: absolute;
    color: #ffffff;
    font-size: 40px;
    font-weight: 400;
    padding: 8px 10px 8px 10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.4s;
    cursor: pointer;
}
.fa-plus:hover{
    color: #f13f13;
    border: 2px solid #f13f13;
}
.img-over{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.4s;
    background-color: rgb(0, 0, 0, 0.4);
}
.project-team-work:hover .img-over{
    opacity: 1;
}
.li-cirp{
    position: relative;
}
.li-cirp::before{
    content: '';
    width: 35%;
    height: 1px;
    background-color: #dc2f02;
    position: absolute;
    left: 92px;
    bottom: 10px;
}
.cir-lip{
    position: relative;
}
.cir-lip::after{
    content: '';
    width: 10px;
    height: 10px;
    background-color: #dc2f02;
    position: absolute;
    left: 135px;
    bottom: 6px;
    border-radius: 50%;
}
/* project section end */

/* work section start */
.work-section{
    width: 100%;
    background-color: #343a40;
}
.work-container{
    max-width: 80%;
    min-height: 355px;
    margin: 0 auto;
}
.work-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.work-type{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 55px;
}
.work-type-all{
    width: 370px;
    height: 100px;
}
.work-i{
    background-color: #dc2f02;
    color: #ffffff;
    padding: 10px 10px;
    border-radius: 2px;
    transition: 0.4s;
    cursor: pointer;
    border: 2px solid #9d0208;
    border-style: ridge;
}
.work-iu{
    background-color: #dc2f02;
    color: #ffffff;
    padding: 10px 12px;
    border-radius: 2px;
    transition: 0.4s;
    cursor: pointer;
    border: 2px solid #9d0208;
    border-style: ridge;
}
.work-type-all h2{
    color: #ffffff;
    font-weight: 700;
    margin-top: 6px;
}
.work-content h2{
    padding: 50px 0 16px 0;
    font-size: 35px;
    font-weight: 700;
    color: #ffffff;
    display: inline-block;
}
.p-allw{
    color: #dee2e6; 
    font-weight: 400;
    font-size: 15px;
}
.li-cirw{
    position: relative;
}
.li-cirw::before{
    content: '';
    width: 29%;
    height: 1px;
    background-color: #dc2f02;
    position: absolute;
    left: 109px;
    bottom: 10px;
}
.cir-liw{
    position: relative;
}
.cir-liw::after{
    content: '';
    width: 10px;
    height: 10px;
    background-color: #dc2f02;
    position: absolute;
    left: 149px;
    bottom: 6px;
    border-radius: 50%;
}
/* work section end */

/* about section start */
.about-section{
    width: 100%;
    background-color: #ffffff;
}
.service-container-ab{
    max-width: 80%;
    min-height: 800px;
    margin: 0 auto;
    padding-bottom: 50px;
}
.about-type{
    display: flex;
    justify-content: space-between;
    height: 750px;
    margin-top: 55px;
    position: relative;
}
.about-type::before{
    content: '';
    width: 2px;
    height: 98%;
    background-color: #dc2f02;
    position: absolute;
    left: 50%;
    top: 49%;
    transform: translate(-50%, -50%);
}
.about-type-1{
    width: 46%;
    height: 730px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.about-type-1p{
    width: 100%;
    height: 250px;
    border: 2px solid #dc2f02;
    margin-bottom: 110px;
    text-align: right;
    padding: 15px;
}
.about-cir1{
    width: 10px;
    height: 10px;
    background-color: #dc2f02;
    position: absolute;
    left: 50%;
    top: 14%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.about-cir2{
    width: 10px;
    height: 10px;
    background-color: #dc2f02;
    position: absolute;
    left: 50%;
    top: 38%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.about-cir3{
    width: 10px;
    height: 10px;
    background-color: #dc2f02;
    position: absolute;
    left: 50%;
    top: 62%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.about-cir4{
    width: 10px;
    height: 10px;
    background-color: #dc2f02;
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.about-type-2{
    width: 46%;
    height: 730px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.about-type-2p{
    width: 100%;
    height: 250px;
    border: 2px solid #dc2f02;
    margin-top: 110px;
    padding: 15px;
}
.a-year{
    color: #dc2f02; 
    font-weight: 400;
    font-size: 15px;
}
/* about section end */

/* client section start */
.client-container{
    max-width: 80%;
    min-height: 355px;
    margin: 0 auto;
    padding-bottom: 50px;
}
.li-circli{
    position: relative;
}
.li-circli::before{
    content: '';
    width: 29%;
    height: 1px;
    background-color: #dc2f02;
    position: absolute;
    left: 100px;
    bottom: 10px;
}
.cir-licli{
    position: relative;
}
.cir-licli::after{
    content: '';
    width: 10px;
    height: 10px;
    background-color: #dc2f02;
    position: absolute;
    left: 138px;
    bottom: 6px;
    border-radius: 50%;
}
.container-all{
    margin: 0 auto;
    position: relative;
    max-width: 1000px;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
}
.slide{
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 20s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
.item-slide{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
    width: 100%;
    height: 400px;
    background-color:#343a40;
}
.item-slide img{
    width: 15%;
    border-radius: 50%;
    border: 1px solid #ffffff;
    display: inline-block;
    margin-bottom: 15px;
}
.p-procl{
    color: #ffffff;
    margin: 12px 0 2px 0;
    font-size: 20px;
    font-weight: 700;
}
.p-allc{
    color: #ffffff; 
    font-weight: 400;
    font-size: 15px;
}
.nation{
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.nation-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    background: #dc2f02;
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;
}
.nation-item:hover{
    transform: scale(2);
    background-color: #e85d04;
}
.nation-item img{
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}
.nation-item:hover img{
    opacity: 1;
    transform: scale(1);
}
input[id="1"]:checked ~ .slide{
    animation: none;
    transform: translate3d(0, 0, 0);
}
input[id="1"]:checked ~ .nation .nation-item[for="1"]{
    background: #e85d04;
}
input[id="2"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
}
input[id="2"]:checked ~ .nation .nation-item[for="2"]{
    background: #e85d04;
}
input[id="3"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}
input[id="3"]:checked ~ .nation .nation-item[for="3"]{
    background:#e85d04;
}
input[id="4"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 3), 0, 0);
}
input[id="4"]:checked ~ .nation .nation-item[for="4"]{
    background: #e85d04;
}
@keyframes autoplay{
    25%{
        transform: translate3d(calc(-100% * 0), 0, 0);
    }

    50%{
        transform: translate3d(calc(-100% * 1), 0, 0);
    }
    75%{
        transform: translate3d(calc(-100% * 2), 0, 0);
    }
    100%{
        transform: translate3d(calc(-100% * 3), 0, 0);
    }
}
/* client section end */

/* price section start */
.price-container{
    max-width: 80%;
    min-height: 750px;
    margin: 0 auto;
}
.p-proice{
    color: #000000;
    font-size: 20px;
    font-weight: 700;
}
.p-all-ice{
    color: #343a40;
    border-bottom: 1px solid #dee2e6;
    width: 90%;
    padding: 15px 0;
}
.p-all-ilst{
    padding: 15px 0;
    color: #343a40;
}
.service-ice{
    width: 32%;
    height: 500px;
    background-color: #ffffff;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 15px 0;
    position: relative;
}
.ice-h{
    font-size: 50px;
    font-weight: 700;
    margin: 10px 0 0 0;
}
.a-btn-ice {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    display: inline-block;
    background-color: #dc2f02;
    border: 2px solid #9d0208;
    border-style: ridge;
    padding: 10px 35px;
    margin-top: 20px;
    transition: 0.2s;
}
.a-btn-ice:hover{
    background-color: #9c2001;
}
.li-cipr{
    position: relative;
}
.li-cipr::before{
    content: '';
    width: 50%;
    height: 1px;
    background-color: #dc2f02;
    position: absolute;
    left: 46px;
    bottom: 10px;
}
.cir-lpr{
    position: relative;
}
.cir-lpr::after{
    content: '';
    width: 10px;
    height: 10px;
    background-color: #dc2f02;
    position: absolute;
    left: 91px;
    bottom: 6px;
    border-radius: 50%;
}
/* price section end */

/* team section start */
.team-section{
    width: 100%;
    background-color: #ffffff;
}
.container{
    display: flex;
    justify-content: space-between;
}
.card{
    width: 32%;
    height: 550px;
    margin: 50px 0 80px 0;
    overflow: hidden;
    position: relative;
}
.card img{
    height: 100%;
    width: 100%;
    border-radius: 3px;
    transition: .5s;
}
.intro{
    width: 100%;
    position: absolute;
    background: rgb(220, 47, 2, 0.9);
    bottom: -175px;
    transition: .8s;
    height: 277px;
}
.all{
    display: none;
    padding: 0 10px 10px 30px;
}
.card:hover .all{
    display: block;
}
.intro-h2{
    font-size: 40px;
    margin: 10px 10px 10px 28px;
    color: #ffffff;
    transition: 0.1s;
}
.intro:hover .intro-h2{
    color: #000000;
}
.all-p{
    font-size: 15px;
    color: #343a40;
    margin-bottom: 31px;
}
.card:hover{
    cursor: pointer;
}
.card:hover .intro{
    height: 300px;
    bottom: 0;
    background: #f5f5f5;
}
.card:hover .intro-h2{
    color: #000000;
}
.card:hover .hover-p{
    display: none;
}
.hover-p{
    position: absolute;
    color: #ffffff;
    padding: 5px 10px;
    border: 1px solid #ffffff;
    font-size: 15px;
    border-radius: 30px;
    top: 60px;
    left: 30px;
}
.intro:hover .hover-p{
    display: none;
}
.card:hover img{
    transform: scale(1.1) rotate(-3deg);
}
.row{
    display: flex;
    align-items: center;
}
.col{
    flex: 1;
    text-align: center;
    position: relative;
}
.col::after{
    content: '';
    width: 1.5px;
    height: 20px;
    background: #dc2f02;
    position: absolute;
    top: 5px;
    right: 0;
}
.col:last-child::after{
    display: none;
}
.col-h2{
    margin-bottom: 5px;
    font-size: 20px;
    color: #000000;
}
.foll-btn{
    text-decoration: none;
    background: #dc2f02;
    color: #fff;  
    padding: 8px 25px;
    border-radius: 30px;
    font-size: 14px;
    margin-right: 15px;
    box-shadow: 0 8px 10px rgba(220, 47, 2, 0.3);
    transition: 0.3s;
}
.foll-btn:hover{
    box-shadow: 0px 0px 7px 4px rgba(220, 47, 2, 0.6);
}
.icon-btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(220, 47, 2, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    text-decoration: none;
    text-align: center;
    transition: 0.5s;
}
.icon-inpi{
    width: 50%;
    color: #000;
}
.icon-btn:hover{
    box-shadow: 0 5px 10px rgba(220, 47, 2, 0.6);
}
.li-ci-tea{
    position: relative;
}
.li-ci-tea::before{
    content: '';
    width: 50%;
    height: 1px;
    background-color: #dc2f02;
    position: absolute;
    left: 40px;
    bottom: 10px;
}
.cir-lp-tea{
    position: relative;
}
.cir-lp-tea::after{
    content: '';
    width: 10px;
    height: 10px;
    background-color: #dc2f02;
    position: absolute;
    left: 77px;
    bottom: 6px;
    border-radius: 50%;
}
/* team section end */

/* article section start */
.article-container {
    max-width: 80%;
    min-height: 815px;
    margin: 0 auto;
}
.w-33-3{
    width: 32%;
}
.card-container{
    padding: 100px 0 0;
    display: flex;
    justify-content: space-between;
}
.icard{
    width: 100%;
    background-color: #ffffff;
    position: relative;
    border-radius: 5px;
    height: 310px;
    top: 100px;
    transition: 0.5s ease-in-out;
    transition-delay: 0.5s;
}
.icard .line{
    position: absolute;
    inset: 0;
    background: #adb5bd;
    overflow: hidden;
}
.icard .line::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 710px;
    height: 120px;
    background: linear-gradient(transparent, #dc2f02, #dc2f02, #dc2f02, transparent);
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
.icard .line::after{
    content: '';
    position: absolute;
    inset: 3px;
    background: #ffffff;
}
.card-img{
    width: 60%;
    position: relative;
    left: 20%;
    top: -88px;
    max-height: 258px;
}
.card-img img{
    width: 100%;
    height: auto;
    border: 1px solid #ffffff;
    box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.5);
}
.demo{
    text-align: center;
    position: relative;
    top: -22px;
}
.card-desc{
    text-align: center;
    padding: 0 38px;
    position: absolute;
    top: 32px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;
    transition-delay: 0s;
}
.p-desc {
    color: #dc2f02;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 24px;
    transition: 0.5s ease-in-out;
    transition-delay: 0.5s;
}
.icard:hover .p-desc{
    color: #000000;
}
.p-all-art {
    color: #343a40;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 10px;
}
.a-btn-art {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    display: inline-block;
    background-color: #dc2f02;
    border: 2px solid #9d0208;
    border-style: ridge;
    padding: 10px 30px;
    margin-top: 20px;
    transition: 0.2s;
}
.a-btn-art:hover {
    background-color: rgb(156, 32, 1);
}
.icard:hover{
    transition-delay: 0s;
    height: 510px;
    top: 0;
}
.icard:hover .card-desc{
    transition-delay: 0.5s;
    visibility: visible;
    opacity: 1;
}
.li-ciart{
    position: relative;
}
.li-ciart::before{
    content: '';
    width: 40%;
    height: 1px;
    background-color: #dc2f02;
    position: absolute;
    left: 71px;
    bottom: 10px;
}
.cir-lpart{
    position: relative;
}
.cir-lpart::after{
    content: '';
    width: 10px;
    height: 10px;
    background-color: #dc2f02;
    position: absolute;
    left: 116px;
    bottom: 6px;
    border-radius: 50%;
}
/* article section end */

/* free section start */
.free-section{
    width: 100%;
    min-height: 700px;
    background-image: url(../media/images/ritch-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: rislider 20s infinite linear;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.a-btn-free{
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    display: inline-block;
    background-color: #dc2f02;
    border: 2px solid #9d0208;
    border-style: ridge;
    padding: 10px 35px;
    margin-top: 50px;
    transition: 0.2s;
}
.a-btn-free:hover {
    background-color: #9c2001;
}
.free-container{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    z-index: 1;
}
@keyframes rislider{
    0%{background-image: url(../media/images/ritch-1.jpg); }

    35%{background-image: url(../media/images/ritch-2.jpg); }

    75%{background-image: url(../media/images/ritch-3.jpg); }
}
.free-section::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0,0.6);
}
.free-container h2 {
    padding: 0 0 13px 0;
    font-size: 35px;
    font-weight: 700;
    color: #ffffff;
    display: inline-block;
}
/* free section end */

/* contact section start */
.contact-form {
    display: flex;
    margin-top: 5%;
}
.contact-form form {
    width: 70%;
}
.contact-form input, textarea{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding:20px;
    resize: none;
    outline: 0;
    border: 1px solid #dee2e6;
}
.a-btn-con{
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    background-color: #dc2f02;
    border: 2px solid #9d0208;
    border-style: ridge;
    padding: 16px;
    margin-top: 20px;
    transition: 0.2s;
    cursor: pointer;
}
.a-btn-con:hover {
    background-color: #9c2001;
}
.info {
    margin-left: 70px;
}
.address, .phone, .email, .web{
    display: flex;
} 
.address, .phone, .email{
    margin-bottom: 97px;
} 
.fab-icon {
    width: 35px;
    height: 35px;
    background-color: #dc2f02;
    transform: rotate(46deg);
    margin-right: 20px;
    margin-top: 6px;
}
.icon {
    color: #fff;
    transform: rotate(-45deg);
    margin: 7px;
    font-size: 22px;
}
.li-ci-cont{
    position: relative;
}
.li-ci-cont::before{
    content: '';
    width: 50%;
    height: 1px;
    background-color: #dc2f02;
    position: absolute;
    left: 48px;
    bottom: 10px;
}
.cir-lp-cont{
    position: relative;
}
.cir-lp-cont::after{
    content: '';
    width: 10px;
    height: 10px;
    background-color: #dc2f02;
    position: absolute;
    left: 92px;
    bottom: 6px;
    border-radius: 50%;
}
/* contact section end */

/* footer part start */
.ritch-foot {
    width: 100%;
    background-color: #343a40;
    height: 250px;
  }
.ritch-foot-container {
    width: 80%;
    margin: 0 auto;
    padding-top: 25px;
}
.main-footer {
    position: relative;
    height: 130px;
}
.main-footer::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    top: 100%;
    left: 0;
    background-color: #fff;

} 
.footer-text {
    
    color: #ffffff;
    
    line-height: 55px;
    margin: 0 auto;
    text-align: center;
}
.foot-h{
    font-size: 45px;
    font-weight: 700;
    padding: 4px 0;
}
.social-icon ul {
    display: flex;
    justify-content: center;
}
.social-icon ul li {
    list-style: none;
    font-size: 20px;
    margin-right: 9%;
    
}
.social-icon ul li:last-child {
    margin-right: 0;
}
.social-icon ul li a {
    color: #fff;
}
.footer-widget p {
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;
    margin-top: 15px;
}

/* footer part end */

